# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#interno
ConsultarSunrise-copia.js 
ConsultarSunrise-copia_BIEN_comentarios_y_funciones_descartadas_EJEMPLOS.js
SunriseDisplay-copia.js SunriseDisplay-copia_Avanzada.js 